
.account-form
  max-width: 100vw
  min-width: 350px

  @media (min-width: 576px)
    max-width: 75vw

  @media (min-width: 768px)
    max-width: 50vw

  @media (min-width: 992px)
    max-width: 33vw

  @media (min-width: 1400px)
    max-width: 25vw

  #username
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    margin-bottom: -1px

  #password
    border-top-left-radius: 0
    border-top-right-radius: 0

